@font-face {
  font-family: "Kulim-regular";
  src: url("../assets/typo/KulimPark-Regular.ttf");
}

@font-face {
  font-family: "Kulim-semi-bold";
  src: url("../assets/typo/KulimPark-SemiBold.ttf");
}

@font-face {
  font-family: "Butler-extra-bold";
  src: url("../assets/typo/Butler_ExtraBold.otf");
}

body {
  background-color: $albatre;
  font-family: "Kulim-regular";
}
p {
  font-family: "Kulim-regular";
}

h1 {
  font-size: 55px;
  font-family: "Butler-extra-bold";
}

h2 {
  font-size: 40px;
  font-family: "Butler-extra-bold";
}

h3 {
  font-size: 24px;
  font-family: "Kulim-semi-bold";
}

h4 {
  font-size: 32px;
  font-family: "Butler-extra-bold";
}

button {
  background-color: $bistre;
  border-radius: 3px;
  padding: 20px 26px 20px 26px;
  border: none;
  a {
    color: $albatre;
    text-decoration: none;
    font-size: 16px;
    font-family: "Kulim-regular";
  }
}
